/* Background color */
body {
    background-color: #ecfffb !important;
  }
  
  /* Navbar and Footer background color */
  .custom-navbar, .custom-footer {
    background-color: #1e6262 !important;
    color: #ecfffb !important;
  }
  
  /* Navbar Links */
  .custom-navbar .navbar-nav .nav-link {
    color: #b4f1f1 !important;
  }
  
  .custom-navbar .navbar-nav .nav-link:hover {
    color: #ecfffb !important;
  }
  
  /* Footer Links */
  .custom-footer a {
    color: #b4f1f1 !important;
  }
  
  .custom-footer a:hover {
    color: #ecfffb !important;
  }
  
  /* Login Box */
  .login-box {
    background-color: #b4f1f1;
    border: 10px solid #1e6262; /* Match the border thickness and color from Register */
    border-radius: 20px; /* Make the edges rounded */
    padding: 3%; /* Add padding for content spacing */
    max-width: 400px;
    width: 100%;
    color: #1e6262;
  }
  
  /* Input and Label Styling */
  .input {
    background-color: #ecfffb;
    border-radius: 5px;
    border: 1px solid #1e6262;
    height: 35px;
  }
  
  .question {
    font-size: 25px;
  }
  
  /* Login Button */
  .mybtn {
    display: flex;
    border-radius: 20px;
    background-color: #1e6262;
    border: 1px solid #1e6262;
    padding: 5px 50px;
    margin-left: auto;
    margin-right: auto;
    color: #ecfffb;
    transition: color 0.5s, background-color 0.5s;
  }
  
  .mybtn:hover {
    color: #1e6262;
    background-color: #ecfffb;
  }
  
  /* Sign-in Text Styling */
  .signin {
    color: #1e6262;
    margin-top: 5%;
  }
  
  .signin a {
    color: #1e6262;
  }
  
  .signin a:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  