/* Navbar */
.custom-navbar.navbar {
  background-color: #1e6262 !important;  /* Add !important to override Bootstrap */
  color: #ecfffb !important; /* Ensure text color is overridden */
}

/* Background color for body */
body {
  background-color: #ecfffb !important;
}

/* Footer */
.custom-footer {
  background-color: #1e6262 !important;
  color: #ecfffb !important;
}

.custom-footer a {
  color: #b4f1f1 !important; /* Light blue for footer links */
}

/* Text Colors */
h1, h2, h3, h4, p, button {
  color: #2d767f !important; /* Use #2d767f for text */
}

button {
  background-color: #b4f1f1 !important;
  border-color: #2d767f !important;
}

button:hover {
  background-color: #2d767f !important;
  color: #ecfffb !important;
}
